/* TODO: what type of selector is this? universal becasue of the (*)*/ 
* {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

/* TODO: what type of selector is this? element because of the h1, p, ul, div etc*/
h1 {
    color: blue;
}

p {
    margin: 10px 0;
}

ul {
    margin: 20px 0;
    padding-left: 20px;
}

li {
    margin: 5px 0;
}

a {
    color: green;
}

/* TODO: what type of selector is this? Classes because of the (.) (have as many as you want)*/
.highlight {
    background-color: yellow;
    font-weight: bold;
}

.new {
    color: red;
}

.something     {
    color: purple;
}

.special {
    color: purple;
}

/* TODO: what type of selector is this? id - can only use once*/
#uniqueDiv {
    color: red;
    font-size: 20px;
}